* {
    border: none;
    border-radius: 0;
    /* font-family: "Font Awesome"; */
    /* font-family: "Liberation Mono"; */
    font-family: "Agabe Nerd Font";
    /* font-family: "JetBrainsMono Nerd Font"; */
    min-height: 15px;
    font-size: 16px;
}

window#waybar {
    /* tokyo-night */
    /* background: #1a1b26;   */

    /* dracula */
    background: #282a36;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    transition: none;
    /* background: #282a36; */
    /* border-radius: 10px; */
    margin-left: 4px;
}

#workspaces button {
    transition: none;
    color: #f8f8f2;
    background: transparent;
    /* padding: 5px; */
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#workspaces button.persistent {
    color: #f8f8f2;
    font-size: 12px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    /* border-radius: inherit; */
    /* color: #282a36; */
    color: #f8f8f2;
    background: #6272a4;
    border-radius: 4px;
}

#workspaces button.active {
    color: black;
    
    /* tokyo-night */
    /* background: #2ac3de; */

    /* dracula */
    background: #8be9fd;

    /* border: 1px solid #f8f8f2; */
    border-radius: 4px;
}

#workspaces button.focused {
    color: black;
    
    /* tokyo-night */
    /* background: #2ac3de; */

    /* dracula */
    background: #8be9fd;

    /* border: 1px solid #f8f8f2; */
    border-radius: 4px;
}

#clock {
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 16px;
    margin-right: 16px;
    /* margin-right: 8px; */
    transition: none;
    background-color: #BD93F9;
    /* color: #ffffff; */
    color: #000000;
    border-radius: 4px;
    /* background: #282a36; */
    /* border-radius: 10px 10px 10px 10px; */
    /* font-size: 16px; */
}

#pulseaudio {
    margin-top: 4px;
    margin-bottom: 4px;
    /* margin-right: 8px; */
    padding-left: 16px;
    padding-right: 16px;
    transition: none;
    background-color: #f1fa8c;
    color: #282a36;
    /* background: #282a36; */
    border-radius: 4px;
    /* font-size: 16px; */
}

/* #pulseaudio.muted { */
/*     background-color: #f1fa8c; */
/*     color: #2a5c45; */
/* } */

#backlight {
    margin-top: 4px;
    margin-bottom: 4px;
    /* margin-right: 8px; */
    margin-left: 16px;
    margin-right: 16px;
    padding-left: 16px;
    padding-right: 16px;
    transition: none;
    /* color: #ffffff; */
    color: #000000;
    background-color: #8BE9FD;
    border-radius: 4px;
    /* background: #282a36; */
    /* border-radius: 10px; */
}

#battery {
    margin-top: 4px;
    margin-bottom: 4px;
    /* margin-right: 8px; */
    padding-left: 16px;
    padding-right: 16px;
    transition: none;
    color: #282a36;
    background-color: #50fa7b;
    /* background: #282a36; */
    /* border-radius: 10px; */
    border-radius: 4px;
}

#battery.charging {
    color: black;
    /* tokyo-night */
    /* background-color: #94e2d5; */

    /* dracula */
    background-color: #50fa7b;
    border-radius: 4px;
}

#battery.warning:not(.charging) {
    /* tokyo-night */
    /* background-color: #ff9e64; */

    /* dracula */
    background-color: #ffb86c;

    color: black;
    border-radius: 4px;
}

#battery.critical:not(.charging) {
    /* tokyo-night */
    /* background-color: #db4b4b; */

    /* dracula */
    background-color: #ff5555;

    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 4px;
}

#tray {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    padding-left: 12px;
    padding-right: 12px;
    transition: none;
    color: #ffffff;
    background: #ff79c6;
    border-radius: 4px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
